.navImg{
    height: 38px;
    width: 38px;
    border-radius: 50%;
}

.navName{
    color: black;
    text-decoration: none;
}

#img{
    width: 100%;
    height: auto;
}

#imgServ{
    height: 60px;
    width: auto;
}

.receipt{
    width: 300px;
    border: solid black 1px;
}

.receipt-content{
    margin: 5px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.list{
    padding-left: 0px;
}

.card{
    margin: 10px;
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

.form-popup{
    display: none;
}