{% extends 'base.html.twig' %}

{% block body %}
    <h3>Categories</h3>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" href="{{ path('category_add') }}">
            Create new
        </a>
    {% endif %}
    <div class="row mt-3">
    {% for category in categories %}
        <div class="col col-lg-2">
            <div class="card">
                <div class="card-body">
                    <center>
                        <a href="{{ path('category_view', {'id': category.id}) }}">
                            <p class="card-text">{{ category.name }}</p>
                        </a>
                    </center>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}