{% extends 'base.html.twig' %}

{% block body %}
<div class="black-background">
    {{ form_start(form) }}
    <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
    {{ form_end(form) }}
</div>
{% endblock %}